[submodule "submodules/rive-cpp"]
	path = wasm/submodules/rive-cpp
	url = git@github.com:rive-app/rive-cpp.git
[submodule "wasm/submodules/rive-renderer"]
	path = wasm/submodules/rive-renderer
	url = git@github.com:Curiosity-Machines/rive-renderer.git
